/* . = class
# = id 
div = group multiple content
span = group inline content
em - relative, depends on parent
1em = 16px
vh = viewport height
vw = viewport width

By default height = auto, min-height; overflow
*/
* {
  margin: 0;
}

.navbar {
  background: blue;
  height: 6rem;
  color: white;
  font-size: 3rem;
}

.banner {
  background: red;
  height: calc(100vh - 6rem);
}
.example {
  background: green;
  height: 20rem;
  height: 25rem;
  overflow: hidden;
  overflow: scroll;
}
