/* . = class
# = id 
div = group multiple content
span = group inline content
em - relative, depends on parent
1em = 16px
vh = viewport height
vw = viewport width

By default height = auto, min-height; overflow
*/

h1,
p {
  color: white;
}
h1 {
  background: red;
  padding-top: 40px;
  border-top: 20px solid black;
  margin-bottom: 0px;
}

p {
  background: blue;
}
