/* default settings for body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
  /* this is for the removal of bullet list */
  list-style-type: none;
}

ul li a {
  color: #f15025;
}

ul a {
  color: blue;
}
.navbar {
}
